body {
    font-family: "Roboto Mono", monospace;
}

li {
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3%;
    grid-gap: 2px;
    border: solid 1px #000;
}

.box {
    min-width: 33.3%;
    height: 400px;
    border: solid 1px #999;
    padding: 10px;
}

.alpha {
    background-color: #FDFFDD;
}

.bravo {
    background-color: #FFDDE0;
}

.charlie {
    background-color: #DDFDFF;
}

.delta {
    background-color: #DDFFE8;
}

.echo {
    background-color: #EADDFF;
}

.foxtrot {
    background-color: #FFEACC;
}

@media only screen and (max-width: 850px) {
    .container {
        grid-template-columns: 50% 50%;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        grid-template-columns: 100%;
        background: red;
    }
}

@media only screen and (min-width: 640px) {
    .containter {
        background: purple;
    }
}

@media only screen and (max-width: 400px) {
    .container {
        /* background: red; */
    }
}

@media screen and (max-width: 500px) {
    .container {
        background: blue;
    }
}