body {
    font-family: sans-serif;
}

button {
    border-radius: 5px;
}

.answer-choice {
    list-style: none;
}

.answer-checkbox, .answer-text {
    display: inline-block;
}

/* Non-mobile */
@media only screen and (min-width: 640px) {

}