body {
    font-family: helvetica;
}

header {

}

.question-body {
    border: none;
}

section { /* <section> */
    padding: 12px;
    margin: 12px;
}

#question-statement { /* <legend> */
    font-size: 20px;
}

.answer-choice {
    margin: 12px;
}

button { /* todo: make all buttons display in same place */
    padding: 12px 30px;
    margin: 12px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 2px 1px #969696;
}
button:hover {
    border: 1px solid #bdbdbd;
}

#submit-answer {
}

#next-button {
}

#status {
    margin: 12px;
}

/* Non-mobile */
@media only screen and (min-width: 640px) {}