body {
    font-family: helvetica;
    font-size: 18px;
}

header {
    text-align: center;
    padding: 6px 30px;
    margin: 6px 60px;
}

#start-section, #end-section, #start-image, #end-image {
    text-align: center;
}

#start-image-container, #end-image {
    padding: 12px 30px;
    margin: auto;
    width: 50%;
}

#start-image {
    width: 100%;
}

#topic-logo {
    height: 200px;
}

section { /* <section> */
    padding: 12px 30px;
    margin: 12px 60px;
}

#question-container {
    clear: right;
}

#logo-container {

}

#question-content {
    border: none;
}

.answer-choice {
    margin: 12px;
}

.answer-text {
    margin-left: 12px;
}

code {
    background-color: #f0f0f0;
}

.feedback-image {
    padding: 12px 30px;
    margin: 12px 60px; 
}

.button-container { /* only center Start and Restart buttons */
    text-align: center;
}

button { /* todo: make all buttons display in same place */
    padding: 12px 30px;
    margin: 12px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 2px 1px #969696;
}
button:hover {
    border: 1px solid #bdbdbd;
}

nav {
    padding: 12px 30px;
    margin: 12px 60px;
}

footer {
    padding: 12px 30px;
    margin: 12px 60px;
    text-align: right;
    clear: left; /* fixed glitch */
}

.row::before, .row::after {
    display: table;
    width: 100%;
    clear: both;
}

.col {
    width: 100%;
    float: left;
}

/* Non-mobile */
@media only screen and (min-width: 640px) {
    .col {
        /*width: 48%;*/
        float: left;
    }
    #logo-container {
        width: 25%;
    }
    #question-container {
        width: 75%;
    }
}