body {
    font-family: helvetica;
    font-size: 18px;
}

header {
    margin: 12px;
    text-align: center;
}

#start-section, #end-section {
    text-align: center;
}

section { /* <section> */
    padding: 12px 30px;
    margin: 12px 60px;
}

.question-body {
    border: none;
}

.answer-choice {
    margin: 12px;
}

.answer-text {
    margin-left: 12px;
}

code {
    background-color: #f0f0f0;
}

.button-container { /* only center Start and Restart buttons */
    text-align: center;
}

button { /* todo: make all buttons display in same place */
    padding: 12px 30px;
    margin: 12px;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 2px 1px #969696;
}
button:hover {
    border: 1px solid #bdbdbd;
}

nav {
    padding: 12px 30px;
    margin: 12px 60px;
}

footer {
    padding: 12px 30px;
    margin: 12px 60px;
}

/* Non-mobile */
@media only screen and (min-width: 640px) {}